<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>

		<title>PGFPF</title>
	</head>

	<body>
		
  		<div id="all">		
  		</div>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<script src="/jquery-latest.js"/></script>
  		<script src="/jquery.min.js"/></script>
  		<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
		<script type="text/javascript" src="/authors.js"></script>
  		<script type="text/javascript" src="/rita-full.js"></script>
	</body>
</html>