body{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 110%;
	margin-left: 10%;
	margin-right: 10%;
}

#inputt{
	border: 0;
	width: 80%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

input:focus{
    outline: none;
}